    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        /* ### Primary */

        --tech-list: #a9a9a9;
        --Link-at-rest: #7e7e7e;
        --Link-at-hover: #ffffff;
        --Soft-Red: hsl(0, 94%, 66%);
        --btn-bg-color: #5e5e5eff;
        --secondary-bg-color: #161616;
        --primary-bg-color: #1b1a1a;
        --primary-bg-color-transparent: #171717b3;
        --box-shadow: 0px 0px 14px 3px #00000082;
        ;

        /* ### Neutral */

        --Grayish-Blue: hsl(229, 8%, 60%);
        --text-color: #fff;
        --seconday-text-color: hsl(229, 8%, 60%);
        --Very-Dark-Blue: hsl(229, 31%, 21%);
        --transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);

        --accent-font-family: "Fira Code", monospace;
        ;
        ;

    }

    html {
        font-size: 62.5%;
        font-family: 'Manrope', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        overflow-x: hidden;
    }

    section {
        padding: 7rem;
    }

    h1,
    h1,
    h2,
    h4 {
        text-align: center;
        color: var(--text-color);

    }

    h1 {
        font-size: 4rem;
        font-weight: 300;
    }

    h1 {
        font-size: 3.5rem;

    }

    h2 {
        font-size: 3rem;

    }

    h4 {
        font-size: 2rem;

    }

    h5 {
        font-size: 1rem;
        color: var(--Grayish-Blue);
    }

    p {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--Grayish-Blue);
        line-height: 1.5em;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: var(--Link-at-rest);
    }

    a:hover {
        color: var(--Link-at-hover);
        cursor: pointer;
        transition: var(--transition);
    }

    .ham {
        display: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamRotate.active {
        z-index: 5;
        transform: rotate(45deg);
    }

    .hamRotate180.active {
        transform: rotate(180deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #ffffff;
        stroke-width: 3;
        stroke-linecap: round;
    }

    .ham4 .top {
        stroke-dasharray: 40 121;
    }

    .ham4 .bottom {
        stroke-dasharray: 40 121;
    }

    .ham4.active .top {
        stroke-dashoffset: -68px;
    }

    .ham4.active .bottom {
        stroke-dashoffset: -68px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 4rem;
    }

    /*--------------------------- Header Section ------------------*/
    header {
        z-index: 4;
        margin: 0rem;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--primary-bg-color-transparent);
        padding: 2rem 0;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: var(--Very-Dark-Blue);
        /* height: 11rem; */
        margin: 0 auto;
    }

    .nav-left {
        display: flex;
        align-items: center;
        gap: 2em;
        margin-right: 2em;
    }


    .nav-link {
        font-size: 1.2rem;
        letter-spacing: .15rem;
        font-weight: 400;
    }


    /*-----------------------menu Section-----------------*/
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 2em;
        align-items: center;

    }

    ul {
        display: flex;
        gap: 2rem;
    }

    li {
        list-style: none;
        background-color: var(--secondary-bg-color);
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        color: var(--tech-list);
        font-size: 1.2rem;
        padding: .5rem;

    }

    .nav-right {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: relative;

    }

    .menu li {
        background-color: var(--primary-bg-color-transparent);
        padding: 0;
        box-shadow: none;
    }


    /*-------------------Hero Section ---------------------*/
    #Hero {
        background-color: var(--primary-bg-color);
        padding: 4rem 0;
    }

    .div-hero {
        padding-top: 5rem;
        position: relative;
        background-color: var(--primary-bg-color);
        min-height: 90vh;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    .hero_image {
        border-radius: 1rem;
        margin-top: 3rem;
        animation: fadeInDown .5s ease-in-out;
        box-shadow: var(--box-shadow);

    }


    .div-hero h1 {
        font-size: 4rem;
        letter-spacing: .2rem;
        line-height: 6rem;
        font-weight: 700;
        color: var(--text-color);
        animation: fadeInDown 1s ease-in-out;

    }

    .div-hero h2 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--seconday-text-color);
        animation: fadeInDown 1.5s ease-in-out;


    }

    .div-hero p {
        max-width: 40rem;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: .15rem;
        line-height: 2rem;
        color: var(--Grayish-Blue);

    }

    .hero_detail {
        animation: fadeInDown 2s ease-in-out;
    }

    .div-hero .social-media,
    .tech-stack {
        margin-top: 1.25rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        color: white;
        display: flex;
        align-items: center;

    }

    .div-hero .social-media {
        animation: fadeInDown 2.5s ease-in-out;

    }

    .tech-stack {
        animation: fadeInDown 3s ease-in-out;

    }

    .project-btn {
        letter-spacing: .2rem;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        animation: fadeInDown 3.5s ease-in-out;
    }





    /*---------------------Projects sections--------------------*/

    #Projects {
        padding: 4rem 0;
        background-color: var(--primary-bg-color);
    }

    .project-section-heading {
        font-size: 4rem;
    }

    .div-projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8rem;
        background-color: var(--primary-bg-color);
        margin-top: 4rem;
    }

    .div-project-tile {
        display: flex;
        flex-direction: row;
        padding: 3rem;
    }

    .div-project-tile img {
        width: 100%;
        border-radius: 1rem;
    }

    .div-project-tile .left,
    .project-description {
        position: relative;
        display: flex;
        flex: 1;
        margin: auto 0;
    }

    .project-image {
        filter: brightness(.5);
        z-index: 1;
        transition: var(--transition);
        box-shadow: var(--box-shadow);

    }

    .project-image:hover {
        filter: brightness(1);
    }

    .project-description {
        z-index: 2;
        flex-direction: column;
        margin-left: -2rem;
        align-items: end;
        gap: 2rem;
    }

    .project-description h3 {
        font-size: 2.4rem;
        color: var(--text-color);
    }

    .project-description p {
        background-color: var(--secondary-bg-color);
        box-shadow: var(--box-shadow);
        padding: 2rem;
        letter-spacing: .06rem;
        font-size: 1.4rem;
        text-align: end;
        border-radius: 1rem;
    }

    .project-description ul {
        justify-content: end;

    }

    .project-description li {
        font-family: var(--accent-font-family);
        font-weight: 500;
        color: var(--tech-list);
        font-size: 1.2rem;
        padding: .5rem;
    }

    .div-projects .div-project-tile:nth-child(even) {
        flex-direction: row-reverse;
    }

    .div-projects .div-project-tile:nth-child(even) .project-description {
        align-items: start;
        margin-right: -2rem;
    }

    .div-projects .div-project-tile:nth-child(even) .project-description p {
        text-align: start;
    }

    /* @media(prefers-reduced-motion: no-preference) {

        .project-description,
        .project-image {
            animation: fadeInDown linear forwards;
            animation-timeline: view();
            animation-range-start: 10%;
            animation-range-end: 40%;
        }
    } */
    .project-image,
    .project-description {
        opacity: 0;
        scale: .8;
        transition: all 0.6s ease;
    }

    .project-image.visible,
    .project-description.visible {
        opacity: 1;
        scale: 1;
    }


    /*----------------------Animations----------------------*/

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translatey(0);
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }


    /*----------------------Tablet----------------------*/

    @media (min-width: 768px) and (max-width: 1080px) {

        /* Styles for tablets (e.g., iPad) */
        .div-hero h1 {
            font-size: 6rem;
        }

        .div-hero h1 {
            margin-top: 4rem;
            font-size: 6rem;
            line-height: 8rem;
        }

        .div-hero h2 {
            font-size: 4rem;
            line-height: 6rem;
        }

        .div-hero p {
            font-size: 2rem;
            line-height: 3rem;
        }

        .project-description {
            margin-left: -6rem;
        }

        .div-projects .div-project-tile:nth-child(even) .project-description {
            align-items: start;
            margin-left: 0;
            margin-right: -6rem;
        }
    }

    /*----------------------Mobile----------------------*/

    @media (max-width: 768px) {
        .ham {
            display: block;
        }

        .menu {
            display: flex;
            flex-direction: column;
            border: 1px solid #333;
            border-radius: 1rem;
            position: absolute;
            top: 6rem;
            width: 0;
            height: 0;
            background-color: var(--primary-bg-color-transparent);
            overflow: hidden;
            align-items: start;
            scale: 0;
            transition: all ease 600ms;

        }

        .menu li {
            list-style: none;
            padding: 10px 20px;
        }

        .menu a {
            text-decoration: none;
            color: white;
            display: block;
        }

        /* When the menu is active (revealed) */
        .menu.active {
            padding: 2rem 0;
            width: 14rem;
            height: 20rem;
            scale: 1;

        }

        .nav-link {
            padding-bottom: 0.5em;
            background-size: 0 5px, auto;
            background-position: left bottom;
            font-weight: 400;
            font-size: 1em;
        }

        .site-logo {
            font-size: 2rem;
            position: relative;
            z-index: 999;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }


        .alt-logo svg path {
            fill: #fff;
        }

        .alt-logo svg circle {
            fill: #fff;
        }

        .alt-logo .inner-shape {
            fill: #242A45;
        }

        .nav-left {
            flex-direction: row-reverse;
            gap: 3em;
        }

        .menu-social-icons {
            width: 10em;
            position: fixed;
            bottom: 10em;
            right: 0;
            left: 0;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2em;
            z-index: 999;
        }

        .div-hero {
            align-items: start;
            min-height: 90vh;

        }

        .hero_image {
            margin-top: -6rem;
        }

        h1,
        h2,
        p {
            text-align: left;
        }


        .project-btn {
            flex-direction: row;
        }

        .div-projects {
            gap: 4rem;
        }

        .div-project-tile {
            width: 100%;
            transition: opacity 0.8s ease, transform 0.8s ease;
        }


        .project-section-heading {
            text-align: center;
        }

        .div-project-tile,
        .div-projects .div-project-tile:nth-child(even) {
            flex-direction: column;

        }

        .project-description {
            margin: 2rem 0 0 0;
            align-items: start;
        }

        .project-description p {
            text-align: left;
        }

    }